.free-shipping {
  background: #d32f2f;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 40px;
}

.scrolling-text {
  display: inline-block;
  position: absolute;
  animation: scroll-text 6s linear infinite alternate;
  font-weight: bold;
  padding-left: 100%;
}

/* Animation keyframes */
@keyframes scroll-text {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.product-img {
  width: 180px;        /* Fixed width */
  height: 220px;       /* Fixed height */
  object-fit: contain; /* Image proportion maintain karte hue fit karna */
  margin: auto;        /* Center image horizontally */
}


